<link href="https://ga.jspm.io/npm:jsoneditor@9.5.10/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">

<div data-controller="hello">
  <div data-hello-target="editor" id="jsoneditor" style="width: 50%; height: 400px;"></div>

  <button data-action="hello#save">Save</button>

  <div data-hello-target="output" id="jsonviewer" style="width: 50%; height: 400px;"></div>
</div>